.homebody {
    background-color: black;
    background-image: none;
    flex: 1;
    /* display: flex; */
    /* height: 100vh; */
    align-items: center; 
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}

.hprofile__recentItems {
    display: flex;
    margin-left: 25px;
}

.hv{
    display: flex;
    margin: auto;

}
.hv>div>p{
    
    text-align: right;
    padding-left: 700px; 
    margin-top: 25px;
}



.categories {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}


.body__left {
    width: 90%;
}

.itemdetails {
    
    margin-top: 0px;
}

.itemdetails>img {
    object-fit: contain;
    height: 196px;
    width: 140;
    margin-right: 20px;
    border-radius: 5px;

}   

.groups {
    display: flex;
    flex-wrap: wrap;
}

.groups>img {
    margin-bottom: 25px;
    
    margin-left: 25px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

.merch{
    width: 1000px;
}