.header {
    height: 4rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: rgb(36, 39, 43);
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    min-width: 100vw;
}

.header__left {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    padding-left: 20px;
}

.header__leftLogo {
    object-fit: contain;
    height: 3rem;
    margin-left: 20px;
    
}

.header__left>h3 {
    margin: 30px;
    margin-right: 0px;
    font-weight: 600;
}

.browse{
    text-decoration: none;
}

.browse:hover{
    color: rgb(83 252 24);

}


.header__left>span {
    margin-left: 15px;
}

/* .header__vl {
    border-left: 1px solid gray;
    height: 3rem;
} */
.header__center {
    background-color: black;
    padding: 5px;
    color: white;
    height: 2rem;
    display: flex;
    width:15%;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
}

.header__center>input {
    outline: none;
    background-color: transparent;
    flex: 1;
    /* margin-left: 5px; */
    font-size: large;
    border: none;
}

.header__center>span{
    color: white;
}

.header__CLC {
    background-color: black;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
   
    
} 

.cl {
    margin-top: 0px;
    margin:30px;
}



.header__right>h3 {
    margin: 20px;
    font-weight: 600;
    
}


.theLLink {
    text-decoration: none;
    color: white;

}


.theSLink {
    text-decoration: none;
    color: black;

}

.signuph3{
    background-color: rgb(83 252 24);
    border-radius: 10px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

.header__rightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__rightContainer>i, .header__rightContainer>div{
    margin: 20px;
}